#header-top{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid rgb(100, 96, 96);

}

#header-top .box-left , #header-top .box-right{
    width: 15% ;
}

#header-top .box-center{
    width: 70%;
    text-align: center;
}

.link-underline{
    position: relative;
    display: inline-block;
    line-height: normal;
    color: #200000;
    cursor: pointer;
}

#header-top .item{
    padding: 0 23px
}
#header-top .slogan{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
}

.social-link{
    display: inline-block;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    cursor: pointer;
}

#header-top .box-right{
    text-align: right;

}

.social-link-svg{
    position: relative;
    display: inline-block;
    width: auto;
    height: 1rem;
    fill: #220a00;
    transform: translate(0,0);
    transition: all .3s;
}

#header {
    position: sticky;
    top: 0;
    height: 70px;
    line-height: 70px;
    font-size: 13px;
    font-weight: 400;
    background-color: #ffffff;
    z-index: 11;
    transition: background  .3s;

}

#header .header-main{
    display :flex;
    height: 70px;
    border-bottom: 1px solid #e4d5d5;
}
#header .item{
    padding: 0 23px;
}
.box-left-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 70px;
    border-right: 1px solid #e6eaea;
    background-color: transparent;

}
.box-left-logo img {
    width: 100%;
}

#header .header-main>.box-right{
    display: flex;
    justify-content:flex-end;
    flex: 1;
}

#header .login{
    text-transform: uppercase;
    flex: 1;
    text-align: right;
}
#header .login strong{
    font-weight: 600;
    margin-left: 4px;
}

.button{
    position: relative;
    display: inline-block;
    height: 60px;
    padding: 0 35px;
    background-color: #030303;
    color: #fff;
    line-height: 60px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    transition:  all .3s;
}


#Cart-or-something{
    position: relative;
    width: 190px;
    height: 70px;
    padding: 0 !important;
    overflow: hidden;
    transition: width .3s ease-in-out
}


#Cart-or-something .button{
    position: relative;
    width: 190px;
    height: 70px;
    padding: 0 !important;
    overflow: hidden;
    transition: width .3s ease-in-out
}

.button.black{
    background-color: #000;
    color: #fff;
    font-weight: 400;
}
/* LOGO */
.logo-header{
    display: block;
    position: absolute;
    top: 23px;
    left: 50%;
    width: auto;
    height: 23px;
    line-height: normal;
    transform: translateX(-50%);
}

.logo-fill {
    fill: #303030;
    z-index: 0;
    transition: all .3s;
}
.logo-header.p .logo-fill{
    fill:  transparent;
    transform: translateX(85px);
}
.logo-header.p #logo-p,.logo-header.p #logo-p1{
    fill:  black;
    transform: translateX(85px);
}

.open-login{
    cursor: pointer;
}
/*  MODAL */
.box-lightbox.open [class*=box-content-] {
    opacity: 1;
    transform: translateY(0);
}
.box-lightbox .box-content-login {
    width: 80%;
    height: 600px;
    z-index: 101;
}
.box-lightbox [class*=box-content-] {
    opacity: 0;
    display: inline-block;
    max-width: 100%;
    background-color: #FFFFFF;
    transform: translateY(30px);
    transition: opacity .3s,transform .3s;
    margin: auto 0;
}




.box-lightbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    min-height: 100%;
    height: auto;
    padding: 70px 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0,0,0,.75);
    z-index: 10;
    transition: all .3s;
}
.box-lightbox.open {
    visibility: visible;
    opacity: 1;
    z-index: 100;
}
.cd-login , .cd-signup{
    display: none;
}
.cd-login.active , .cd-signup.active{
    display: block;
}

.box-lightbox .bt-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 66px;
    height: 70px;
    background-color: rgb(202, 180, 180);
    cursor: pointer;
    z-index: 1;
    transition: all .3s ease-in-out;
}
.box-lightbox .bt-close:before{
    transform: translate(-50%, -50%) rotate(-45deg);
}
.box-lightbox .bt-close:after{
    transform: translate(-50%, -50%) rotate(45deg);;
}

.box-lightbox .bt-close:before ,.box-lightbox .bt-close:after{
    content:"";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
    background-color: #222222;
}

.cd-login, .cd-signup{
    width: 100%;
    height: 100%;
}
/* MODAL */

.popup-right {
    position: relative;
    width: 60% ;
}

.popup-left {
    position: relative;
    width: 40% ;
    height: 100%;
    background-color: #fff;
}

.popup{
    display: flex;
    width: 100%;
    height: 100%;

}
.popup-right img{
    object-fit: cover;
    width:100%;
    height:100%;

}





.footer 	{ text-align:center; }
.footer a  { color:#53B2C8; }

/* form starting stylings ------------------------------- */
.form .group 			  {
  position:relative;
  margin-bottom:22px;
}
.group input 				{
  font-size:18px;
  padding: 0 0 8px 0;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
}
.group input:focus 		{ outline:none; }

/* LABEL ======================================= */
/* .group label 				 {
  color:#999;
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
} */

.group input::placeholder{
    color:#999;
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}


/* BOTTOM BARS ================================= */


/* active state */
.group input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.group input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

.form{
    background: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 50px 70px;
}

.form span{
    font-size: 12px;
    color: rgb(121, 115, 115);
}

.single{
    display: flex;
    font-size: 14px;
    text-align: left;
    justify-content: center;
    align-items: center;

}

.single label{
    margin-left: 6px
}

.group button{
    margin-top: 32px;
    outline: none;
    background: rgb(24, 23, 23);
    color: #fff;
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: inherit;
    cursor: pointer;
}

.single button{
    margin-top: 32px;
    margin-bottom: 32px;
    outline: none;
    background: #fff;
    color: rgb(24, 23, 23);
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: inherit;
    cursor: pointer;
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
}
.single svg {
    width: 22px; height: 22px;
    margin-right: 6px;
}



.textdanger{
    color: rgb(234, 118, 118)!important;
}


/* HERO */

#hero{
    background-image: url(../img/hero/hero1.jpg);
    height: 60vh;
    width: 100%;
    background-size: cover;
    padding: 32px 80px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content:center;
    font-size: 32px;
    animation: change 20s linear 1s infinite;

}

#hero>*{
    font-family: 'League Spartan', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;

}


#hero h1{
    color: rgb(126, 230, 253);


}
#hero .more-menu{
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    transition-delay: 0.4s;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    padding:  6px;
    cursor: pointer;


}
#hero svg {
    width: 16px;
    height: 18px;
    margin-left: 10px;
}


@keyframes change {
    0%
    {
        background-image: url(../img/hero/hero1.jpg);
    }
    25%
    {
        background-image: url(../img/hero/hero1.jpg);
    }
    25.01%
    {
        background-image: url(../img/hero/hero2.jpg);
    }
    50%
    {
        background-image: url(../img/hero/hero2.jpg);
    }
    50.01%
    {
        background-image: url(../img/hero/hero3.jpg);
    }
    75%
    {
        background-image: url(../img/hero/hero3.jpg);
    }
    75.01%
    {
        background-image: url(../img/hero/hero4.jpg);
    }
    100%
    {
        background-image: url(../img/hero/hero4.jpg);
    }
}


/* homepage -navbar - category */

.homepage-content-area{
    margin-left: auto ;
    margin-right: auto ;
}

.navbar-categories{
    display: flex ;
    align-items: center ;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    position: relative;
}

.navbar-categories-item{
    white-space: nowrap;
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: none;
    line-height: 4.8rem;
    position: static;
    display: flex;
    align-items: center;
    height: 65px;
}

.main-category-link{
    height: 100%;
    color: black;
    padding: .8rem 1.6rem;
    background-color: transparent;
    min-width: auto;
}


.pi-btn{
    position: relative;
    align-items:center;
    border: none;
    cursor: pointer;
    display: inline-flex;
    justify-content:center;
}

.main-cate-btn{
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.4rem;
}

.sub-category-list{
    max-width: 100%;
    height: auto;
    display: flex;
    list-style: none;
    padding-left: 0;
    line-height: 1.5;


}
.dropdown-navbar{
    position: absolute;
    width: 100%;
    min-height: 400px;
    padding: 36px 36px 30px;
    margin: 0;
    left :0;
    z-index: 1000;
    text-align: center;
    background-color :rgba(210, 196, 196, .5);
    top: 69%;

}
.sub-category-item{
    width: 15%;
    margin-right: 4.2%;
    border: none;
    list-style: none;
    text-align: left;
}
.sub-cate-btn{
    font-weight: 500;
    padding: 0 0 4px;
    line-height: 24px;
}


.child-category-list{
    display: flex;
    list-style: none;
    height: auto!important;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100px;
    flex-grow: 1;
    padding-left: 0;

}


.child-category-item{
    position: relative;
    display: block;
    float: none;
    width: 100%;
    padding: 0;
    border: none;


}
/* .child-cate-btn{

} */
.child-category-link{
    display: flex;
    align-items: center;
    font-weight: 400!important;
    text-transform: none!important;
    cursor: pointer;
    padding:0;
    font-size:.75rem;
    line-height: 24px;
}
