@media (min-width: 576px) {}
@media (min-width: 680px) {}
@media (min-width: 768px) {}
@media (min-width: 1020px) {}
@media (min-width: 1280px) {}
@media (min-width: 1600px) {
    .form{
        padding: 50px 200px!important;
    }
    .popup-right {
        width: 50% !important;
    }

    .popup-left {
        width: 50% !important;

    }
}
@media (min-width: 768px) {}
